fieldset{
    box-sizing: border-box;
    border:1px solid black;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
rolltemplate{
    width: 300px;
}
